body {
    margin: 60px auto;
    width: 70%;
    background-color: GhostWhite;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    background-color: LightGreen;
    color: darkgrey;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
    font-size: 1.5em;
    line-height: 1.4em;
    margin-left: 4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


.box {
    background-color: palegreen;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style: italic;
    font-size: 1em;
    font-weight: normal;
    border-style: inset;
    border-width: 2px;
    border-color: green;
    margin: 4em;
    padding: 1em;
}

.contact {
    background-color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: normal;
    font-size: 1em 
    
}


ul {
        list-style-type: none;
        color: blue;       
}

lin {
background: url("/assets/acorn_bullet.png") no-repeat left top;
background-size: 25px 20px;
height: 54px;
padding-left: 44px;
padding-top: 3px;
color: orange;
}


