header {
    display: block;
}

body {
    margin: 60px auto;
    width: 90%;
    background-color: #e6ffe6;
    height 100%
}

.container{
    clear: both;
    min-height: 100%;
    background-color: #e6ffe6;
    margin: 0 0 -5em 0; /*negative margin to pull footer to overlap*/
}

header {
    position:fixed;
    top: 0px;
    left: 0px;
    height: 10em;
    width: 100%;
    }

footer {
    clear: both;
    height: 5em;
    }    
    
.content{
    max-width: 50em;
    margin: auto;
    clear: both;
    position: relative;
	padding: 5em 0 5em 0;
}


nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    margin-left: 0px;
    list-style: none;
    font-weight: bold;
    background-color: #cc9900;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav a, footer a {
    text-decoration: none;
    color: #333333;
}

nav a:hover, footer a:hover {
    text-decoration: underline;
    color: blue;
}

footer li {
    background: none;
}

nav a:hover {
    background: none;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
}

.strap_line {
     font-family: "Comic Sans MS", cursive, sans-serif;
     text-align: center;
     margin-top: -2em;
}

p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
    font-size: 1.5em;
    line-height: 1.4em;
    margin-left: 2em;
    color: #333;
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


.box {
    background-color: #ffbf00;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style: italic;
    font-size: 1em;
    font-weight: normal;
    border-style: inset;
    border-width: 2px;
    border-color: green;
    margin: 4em;
    padding: 1em;
}

.contact {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: normal;
    font-size: 1em 
    
}

ul {
    list-style-type: none; 
    margin-left: 2em;
}

li {
    background: url("/assets/acorn_bullet.png") no-repeat left top;
    background-size: 1em 1em;
    height: auto;
    padding-left: 2em;
    padding-top: 0.5em;
}


