body {
    margin: 60px auto;
    width: 70%;
    background-color: GhostWhite;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    margin-left: 0px;
    list-style: none;
    font-weight: bold;
    background-color: LightGreen;
    color: darkgrey;
}
nav ul li, footer ul li {
    display: inline;
    background: none;
    margin-right: 20px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
}

.strap_line {
     font-family: "Comic Sans MS", cursive, sans-serif;
     text-align: center;
}

p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
    font-size: 1.5em;
    line-height: 1.4em;
    margin-left: 2em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}



.box {
    background-color: palegreen;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style: italic;
    font-size: 1em;
    font-weight: normal;
    border-style: inset;
    border-width: 2px;
    border-color: green;
    margin: 4em;
    padding: 1em;
}

.contact {
    background-color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: normal;
    font-size: 1em 
    
}

ul {
    list-style-type: none; 
    margin-left: 2em;
}

li {
    background: url("/assets/acorn_bullet.png") no-repeat left bottom;
    background-size: 1em 1em;
    height: 1em;
    padding-left: 2em;
    padding-top: 0.5em;
}


