<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
        <div class="container">
            <header>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/tutors">Tutors</a></li>
                        <li><a href="/challenges">Challenges</a></li>
                        <li><a href="/books">Books</a></li>
                        <li><a href="/poetry">Poetry</a></li>
                        <!--li><a href="/resources">Resources</a></li-->
                        <li><a href="/rates">Rates</a></li>
                    </ul>
                </nav>
            <h1> Acorn Tutoring</h1>

            <div class="strap_line">                                            
                <p>Working with students to make a difference</p>                                        
            </div>
            </header>   
            
			<div class="content">
			
			{{ content }}
			

            
			</div><!-- /.content -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:dawn@acorn-tutoring.co.uk">email</a></li>
	        		<li><a href="http://www.acorn-tutoring.co.uk">home</a></li>
				</ul>

                <div class="contact">
                Contact Dawn on 01752 302237 or by email to dawn@acorn-tutoring.co.uk to book an initial free session.
                </div>
            </footer>
        </div><!-- /.container -->
        </body>
        
	</html>