<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">Tutors</a></li>
                    <li><a href="/rates">Rates</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
            <div>
            Contact Dawn on 01752 302237 or by email to dawn@curiouscrab.com to book an initial free session.
            </div>
            
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:dawn@curiouscrab.com">email</a></li>
	        		<li><a href="http://www.curiouscrab.com/tutor">home</a></li>
				</ul>
			</footer>
		</body>
	</html>